:root{
    --main-color: #3d5183;
    --second-font: #d0d3db;
    --third-color: #e9e074;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "work-sans" ,sans-serif;
    background-color: var(--second-font);
}

.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 768pc){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200) {
    .container {
        width: 1170px;
    }
}

.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--main-color);
    margin-left: 20px;
    font-weight: bold;
    font-size: 70px;
}


.header .links {
    position: relative;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span{
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 5px;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 80%;
    transition: 0.3s;
}

.header .links:hover .icon span:nth-child(2){
    width: 100px;
}
.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    border-radius: 10%;
}

.header .links:hover ul{
    display: block;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
    color: var(--second-font);
}

.header .links ul li a:hover{
    padding-left: 20px;
}

.header .links ul li::not(:last-child) a{
    border-bottom: 1px solid #ddd;
}

.landing{
    height: calc(100% - 64px);
    margin: 0;
    position: block;
    width: 100%;
    margin-top: 50px;
    background-color: var(--main-color);
    height: 170px;
}



.landing .intro-text{
    text-align: center;
    left: 40%;
    top: 50%;
    max-width: 100%;
}

.landing .intro-text h1{
    color: var(--second-font);
    font-weight: bold;
    font-size: 70px;
    margin: 0;
    padding-bottom: 15px;
}

.landing .intro-text h2{
    font-size: 40px;
    line-height: 1.8px;
    color: var(--second-font);
}

.countries .container .body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px;
    text-align: center;
    align-items: center;    
    justify-content: center;
    justify-items: center;
}

.countries .container h1{
    display: block;
    padding: 15px;
    transition: 0.3s;
    color: var(--second-font);
}

.countries .container a{
    text-decoration: none;
}

.countries .container .feat{
    text-align: center;
    border-radius: 10%;
    height: 340px;
    width: 290px;
    background-color: var(--main-color);
    align-items: center;
}

.countries .container .feat img{
    border-radius: 10px;
}

.countries .container .head h2{
    font-weight: bold;
    color: var(--main-color);
    font-size: 40px;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

.countries .container .head{
    display: block;
    width: 100%;
}

.about .container{
    background-color: var(--main-color);
    margin-top: 50px;

    color: var(--second-font);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}


.about .container h2{
    font-weight: bold;
    color: var(--second-font);
    font-size: 40px;
}

.about .container p{
    font-size: 25px;
}

.Guide .container{
    background-color: var(--second-font);
    margin-top: 50px;
    color: var(--main-color);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.Guide .container h2{
    font-weight: bold;
    color: var(--main-color);
    font-size: 40px;
}

.Guide .container p{
    font-size: 25px;
}

.contact .container{
    background-color: var(--main-color);
    color: var(--second-font);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.dishes .container .dish img{
    width: 270px;
    height: 270px;
    border-radius: 10%;
}

.dishes .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px;
    color: var(--second-font);
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 10%;
    color: var(--third-color);
}



.dishes .container .dish{
    background-color: var(--main-color);
    width: 300px;
    padding-top: 10%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10%;
    border-radius: 30px;
    text-align: center;
}


.dishes .container img{
    padding-right: 10px;
}

.dishes .container .dish h3{
    padding-top: 5px;
}

.dishes .container .dish .recipe p{
    color: var(--second-font);
    text-align: justify;
    font-size: 20px;
}

